script(src="/javascripts/main.js")
footer
    hr
    p.
        Copyright&copyligeng.me Powered by Express
    a(href="http://www.miitbeian.gov.cn/" style="text-align:center;display:block;color:#efefef") 京ICP备17030217号-1