doctype html
html
  head
    title ligeng的个人网站 eat-code-sleep
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    include ./head
  body
    include ./header
    style.
        nav.navbar{
            margin-bottom:0px;
        }
        
    block content
    include ./footer